{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}" />

<script src="https://accounts.google.com/gsi/client" async="async" defer="defer"></script>
<script src="{{ url_for('static', filename='libs/jwt-decode.js') }}" defer="defer"></script>
<script src="{{ url_for('static', filename='libs/force-graph.min.js') }}" defer="defer"></script>
<script src="{{ url_for('static', filename='scripts/index.js') }}" defer="defer"></script>
{% endblock head %}
{% block body %}
<div
	id="g_id_onload"
	data-client_id="839918008863-3epf75evpkjl2icbthhvtfh8j73bjht7.apps.googleusercontent.com"
	data-callback="setGoogleUser"
></div>
<div class="graph"></div>
{% endblock body %}
