{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}" />

<script src="https://accounts.google.com/gsi/client" async="async" defer="defer"></script>
<script src="{{ url_for('static', filename='libs/force-graph.min.js') }}" defer="defer"></script>

<script src="{{ url_for('static', filename='scripts/graph.js') }}" defer="defer"></script>
<script src="{{ url_for('static', filename='scripts/index.js') }}" defer="defer"></script>
{% endblock head %}
{% block body %}
<div
	id="g_id_onload"
	data-client_id="{{ GOOGLE_OAUTH_CLIENT_ID }}"
	data-callback="setGoogleUser"
	data-auto_prompt="false"
></div>
<div
	class="g_id_signin"
	data-type="standard"
	data-shape="rectangular"
	data-theme="filled_black"
	data-text="continue_with"
	data-size="large"
	data-logo_alignment="left"
></div>

<div class="floaty popup-message"></div>

<span class="total-users-count">
	Total Users: {{ TOTAL_USERS }}
</span>

<div class="floaty user-info-panel toggable panel">
	<div>
		<span>UID</span>
		<button class="uid button-no-style">Not logged in</button>
	</div>
	<div>
		<span>Name</span>
		<span class="userName"></span>
	</div>
</div>

<div class="floaty homies-info-panel toggable panel">
	<form class="add-homie-form" onsubmit="return false;">
		<input type="text" name="person-id" placeholder="UID" />
		<button class="button-styled">Add Homie</button>
	</form>
	
	<span class="homies-list-label">Your Homies</span>
	<div class="homies-list"></div>
</div>

<div class="floaty person-info-panel toggable panel panel-persistent">
	<div>
		<span>UID</span>
		<button class="person-uid button-no-style"></button>
	</div>
	<div>
		<span>Name</span>
		<span class="some-value person-name"></span>
	</div>
	<div>
		<button class="show-homies-btn button-styled">Show Homies</button>
	</div>
</div>

<div class="floaty help-panel toggable panel">
	⟣ Start by adding a homie using their UID.<br />
	⟣ Click any circle to show its user info.<br />
	⟣ Click red texts to copy it.<br />
	⟣ Keep adding homies to grow your web.<br />
	⟣ You can see your homies' homies to a degree.<br />
	<br />
	<a href="https://www.facebook.com/profile.php?id=100082562093592" title="Creator's Facebook Profile" target="_blank">Creator</a><br />
	<a href="https://github.com/NadieFiind/HomiesWeb/" title="GitHub Repository" target="_blank">Repository</a><br />
	<a href="https://www.freeprivacypolicy.com/live/9a99cbba-a231-4cf1-b392-1d05225706cf" title="Privacy Policy for Homies Web" target="_blank">Privacy Policy</a>
</div>

<div class="floaty buttons-panel">
	<div class="show-user-info-panel-btn">
		<i class="noselect material-icons">person</i>
	</div>
	<div class="show-homies-info-panel-btn">
		<i class="noselect material-icons">person_add</i>
	</div>
	<div class="show-help-panel-btn">
		<i class="noselect material-icons">help</i>
	</div>
</div>

<div class="graph"></div>
{% endblock body %}
