body, div {
	margin: 0;
	padding: 0;
	max-width: 100%;
	font-family: Helvetica, Arial;
	color: white;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button-no-style {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.floaty {
	z-index: 1000;
	position: fixed;
	background-color: #000a;
	border-radius: 10px;
	padding: 20px;
}

.toggable {
	transition: ease 0.2s;
	visibility: hidden;
	opacity: 0;
}
.toggable.active {
	visibility: visible;
	opacity: 1;
}

.popup-message {
	padding: 15px;
	border-radius: 50px;
	transition: ease 2s;
	visibility: hidden;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
}
.popup-message.active {
	transition: none;
	visibility: visible;
	opacity: 1;
}

.graph {
	position: fixed;
	width: 100vw;
	height: 100vh;
}

.panel {
	width: calc(90% - 20px * 2);
	margin-top: 20px;
	left: 50%;
	transform: translateX(-50%);
}

.user-info-panel span,
.person-info-panel span,
.homies-info-panel span {
	color: #fffa;
}

.user-info-panel > div:not(:first-child),
.person-info-panel > div:not(:first-child) {
	margin-top: 10px;
}

.uid, .userName, .some-value, .person-uid {
	float: right;
	color: white !important;
}

.uid, .person-uid {
	color: #bc0000 !important;
}

.buttons-panel {
	right: 0;
	bottom: 0;
	border-radius: 0;
	padding: 7px;
}

.buttons-panel > div {
	height: 40px;
}
.buttons-panel > div:active {
	background-color: #fffa;
}

.buttons-panel > div > i {
	font-size: 40px;
}

.add-homie-form > input {
	width: 100%;
	height: 30px;
	padding: 20px;
	color: white;
	box-sizing: border-box;
	font-size: 1rem;
	background: transparent;
	outline: none;
	border-color: #fffa;
	border-style: solid;
	border-radius: 15px;
}

.add-homie-form > button {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 12px;
	font-size: 1rem;
	border: none;
	border-radius: 15px;
	padding: 5px 10px;
}
.add-homie-form > button:active {
	background-color: #fffa;
}

.homies-list-label {
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 3px;
	font-weight: bold;
	color: white !important;
}

.homie-info {
	margin-top: 5px;
}

@media (min-width: 768px) {
	.panel {
		width: 30%;
		left: 50%;
		transform: translateX(-50%);
	}
}
